<html>
<head>
    <title>Setup</title>
</head>
<body>
    <h1>4klift Setup</h1>

    <p>The setup is incomplete.</p>

    <p>{{ message }}</p>

    <p>Run <code>./util/cli.php --ansi cms-install</code></p>
</body>
</html>
