<html>
    <head>
        <title>{{ pageModel.getTitle() }}</title>
    </head>
    <body>
        <h1>{{ pageModel.getTitle() }}</h1>
        <p>{{ pageModel.getContent() }}</p>
        <p>Make a test API call <a href="/api/content/page/welcome">here</a>.</p>
    </body>
</html>
